<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Bootstrap Basic Tables</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin/categories/index"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Danh mục</a></li>
                            <li class="breadcrumb-item"><a href="#!">Danh sách</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <a href="/admin/users/add" class="btn btn-outline-primary has-ripple">
                            <i class="fa fa-plus">Thêm mới</i>
                        </a>
                    </div>
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tên</th>
                                    <th>Họ tên</th>
                                    <th>Chức năng</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>
                                        <a href="/admin/users/edit/1" class="btn btn-outline-info has-ripple mr-2">
                                            <i class="fa fa-edit"> Sửa</i>
                                        </a>

                                        <a href="/admin/users/add" class="btn btn-outline-danger has-ripple" data-toggle="modal" data-target="#exampleModalLive">
                                            <i class="fa fa-trash"> Xóa</i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>
                                        <a href="/admin/users/edit/2" class="btn btn-outline-info has-ripple mr-2" >
                                            <i class="fa fa-edit"> Sửa</i>
                                        </a>

                                        <a href="/admin/users/add" class="btn btn-outline-danger has-ripple" data-toggle="modal" data-target="#exampleModalLive">
                                            <i class="fa fa-trash"> Xóa</i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>
                                        <a href="/admin/users/edit/3" class="btn btn-outline-info has-ripple mr-2" >
                                            <i class="fa fa-edit"> Sửa</i>
                                        </a>

                                        <a href="/admin/users/add" class="btn btn-outline-danger has-ripple" data-toggle="modal" data-target="#exampleModalLive">
                                            <i class="fa fa-trash"> Xóa</i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
