<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Form Elements</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Form Components</a></li>
                            <li class="breadcrumb-item"><a href="#!">Form Elements</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">

                    <div class="card-body">

                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="name">Họ và tên</label>
                                    <input type="text" class="form-control" id="name" placeholder="Nguyễn Văn A">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="username">Tên đăng nhập</label>
                                    <input type="text" class="form-control" id="username" placeholder="nguyenvana">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Mật khẩu</label>
                                    <input type="password" class="form-control" id="inputPassword4" placeholder="">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="nguyenvana@gmail.com">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Số điên thoại</label>
                                    <input type="tel" class="form-control" id="phone" placeholder="0912345678">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="address">Địa chỉ</label>
                                    <input type="text" class="form-control" id="address" placeholder="1 Lê Đức Thọ">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="address">Giới tính</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="male" value="male">
                                        <label class="form-check-label" for="inlineCheckbox1">Nam</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="female" value="female">
                                        <label class="form-check-label" for="inlineCheckbox2">Nữ</label>
                                    </div>

                                </div>

                                <div class="form-group col-md-6">
                                    <label for="state">Tỉnh/Thành phố</label>
                                    <select id="state" class="form-control">
                                        <option selected>Chọn</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="district">Quận/Huyện</label>
                                    <select id="district" class="form-control">
                                        <option selected>Chọn</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="ward">Phường/Xã</label>
                                    <select id="ward" class="form-control">
                                        <option selected>Chọn</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>

                            </div>
                            <button type="submit" class="btn  btn-primary">Đăng ký</button>
                            <a href="/admin/users/index" class="btn btn-secondary">Thoát</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>